
@import url('https://fonts.googleapis.com/css2?family=Allan&family=Merienda&display=swap');
* {
    box-sizing: border-box;
    font-family: Merienda 
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100vh;
 
  
}

/* Navigation Bar */

nav {
    position: relative;
    border: 2px solid #fff;;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

button {
 padding: 10px 20px;
 border-radius: 8px;
 background: transparent;
 transition: .5s ease;
 border: 1px solid #ffffff80;
 color: #00e1ff;
 margin: 15px;
 align-items: center;
 font-size: 1.5rem;

 
}

button:hover,:focus {
    color: white;
    background: #00eeff;
    border: 1px solid #00e1ff;
    text-shadow: 0 0 5px #ffffff;
    text-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 20px #ffffff;
    box-shadow: 0 0 5px #00e1ff;
    box-shadow: 0 0 20px #00e1ff;
    box-shadow: 0 0 50px #00e1ff;
    box-shadow: 0 0 100px #00e1ff;
}

.wrapper {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt {
    color: #ffffff;
    background-color: black;
    font-size: 10rem;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
.txt::before {
    content: 'welcome';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}

/* About Page */

.about {
    display: none;
    color: white;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;

    }

    .info {
        text-align: center;
        width: 45%;
        height: 40%;
    }

    .about img {
     display: block;
     align-content: center;
     margin-left: auto;
     margin-right: auto;
     height: 40%;
     width: 50%;
     border:#00e1ff 5px solid;
     border-radius: 5px
    }

/* Projects */

.projects {
    display: none;
    color: white;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.projects img {
    width: 30%;
}

/* Contact  */
.contact {
    display: none;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    width: 90%;
    border: #00e1ff solid 4px;
    border-radius: 10px;
    margin: 30px 0px;
}

form h3 {
    color:rgba(6, 227, 250,1);
    font-weight: 800;
    margin-bottom: 20px; 
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background-color:#00eeff;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
   }
   

/* Footer */

footer {
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
}


footer ul li {
    font-size: 3.5rem;
    list-style-type: none;
    display: inline-block;
    color: #00eeff;
    margin: 15px;


}

footer ul li:hover {
    cursor: pointer;
    transition: 0.9s;
    transform: rotate(360deg);
    text-shadow: 0 0 5px #ffffff;
    text-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 20px #ffffff;
    box-shadow: 0 0 5px #00e1ff;
    box-shadow: 0 0 20px #00e1ff;
    box-shadow: 0 0 50px #00e1ff;
    box-shadow: 0 0 100px #00e1ff;
}
